.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
kunde.egg-info
htmlcov
log
site
src/kunde/**/__pycache__
src/kunde/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
kundeen-*.xlsx
report.html
sonar-*
